/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@charset 'utf-8';

html {
    display: block;
    position: relative;
    margin: 0px;
    background-color: #CCC;
    background-image: none;
    background-position: center top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /*font-family: Georgia, serif;*/
    /*font-family: "Times New Roman", Times, serif;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    /*font-family: Tahoma, Geneva, sans-serif;*/
    /*font-family: Verdana, Geneva, sans-serif;*/
}

body {
    display: block;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;

    overflow-x: hidden;
    overflow-y: visible;

    /* position: relative; */
    /* width | big: 976px | small: 400px */
    height: auto;
    /* min-height: 100%; */
}

@media all {

    main, aside {
        min-height: 100%;
    }

    main {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding: 0px;
    }
}

@media screen and (min-width: 1215px) {

    body, header div, footer div {
        width: 80%;
    }

    main {
        margin-right: 5px;
        width: 75%;
    }

    aside {
        float: right;
        margin-left: 5px;
        width: 21%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1214px) {

    body, header div, footer div {
        width: 90%;
    }

    main {
        margin-right: 2px;
        width: 78%;
    }

    aside {
        float: right;
        margin-left: 2px;
        width: 20%;
    }
}

@media handheld or (max-width: 1024px) {

    body, header div, footer div {
        width: 100%;
    }

    main {
        margin: 0px;
        width: 100%;
    }

    aside {
        margin: 0px;
        width: 100%;
    }
}

header, nav, main, section, article, hgroup, aside, footer {
    display: block;
}

header, nav, footer {
    width: 100%;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    height: 80px;
    width: 100%;
    background-color: #213C84;
}

header div {
    height: 80px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

header img {
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

section {
    width: auto;
    display: block;
    position: relative;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFF;
    overflow: hidden;
}

main section {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

aside section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    display: block;
    position: absolute;
    left: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #213C84;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 19px;
    width: 100%;
    overflow: hidden;
}

footer div {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6,p {
    color: black;
    white-space: normal !important;
}

h1 {
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
}

main h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    padding: 0px;
    text-decoration: underline;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}

aside h2 {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

/* Opciók választása */

.categories {
    color: black;
    line-height: 1.2em;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.questions {
    color: black;
    line-height: 1.0em;
    font-weight: bold;
    font-size: 16px;
    text-indent: 40px;
}

.send{ }

/* Fakultációk választása */

input.q_answers { }

/*11.-12.-es jegyek*/

table.grades {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

table.grades thead {
    font-size: 16px;
    font-weight: bold;
}

table.grades tr {
    height: 25px;
}

table.grades td {
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

table.grades td.grades_subjects {
    width: 150px;
    text-align: left;
}

table.grades input {
    width: 100%;
    text-align: center;
}

/* Érettségi vizsgatárgyak és -eredmények */

table.exams {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

tr.exams {
    height: 25px;
}

td.exam_no { }

td.exam_type { }

td.exam_subject { }

select.exam_subject { }

option.exam_subject { }

td.exam_points { }

input.exam_points {
    width: 40px;
    text-align: center;
}

/* Összesített eredmények */

table.ergebnisse {
    width: 99%;
}

td.ergebnisse {
    width: 33%;
}

#result_B_tbody td {
    width: 33%;
}

.right{
    text-align: right;
}
